@font-face {
    font-family: 'Amatic SC';
    src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
    font-display: auto;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
    font-display: auto;
}

/* Default Overwrite */
body { padding:0; margin:0; position:relative; color:#000000; }

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Common Wrapper */
#cw { display: none; margin:auto; position:relative; }

/* Loading */
@keyframes spin { 
    100% { 
        transform: rotateZ(360deg); 
    }
}

/* Position */
.pos-rel { position: relative; }
.pos-abs { position: absolute; }

/* Buttons */
button, .button {
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: center;
    background: #00000000;
    /* opacity: 0.5; */
    padding: 7px;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s;
    /* text-decoration: underline; */
    border: 1px solid #000000;
} 

/* Max-widths */
.max-w-1500 { max-width: 1500px; }
.max-w-1100 { max-width: 1100px; }
.max-w-850 { max-width: 850px; }
.max-w-650 { max-width: 650px; }
.max-w-360 { max-width: 360px; }
.max-w-300 { max-width: 300px; }
.max-w-265 { max-width: 265px; }
.max-w-250 { max-width: 250px; }

/* Fonts */
.armatic { font-family: 'Amatic SC', sans-serif; }
.quicksand { font-family: 'Quicksand', sans-serif; }

/* Titles */
h1 {
    margin:0;
    padding:0;
    font-size:60px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}
h2 {
    margin:0;
    padding:0;
    font-size:26px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    line-height: 32px;
}

/* Box */
.box {
    text-align: center;
    padding: 30px;
    padding-bottom:50px;
    /* width: 100%; */
    /* box-shadow: 0px 2px 5px #d4dade61; */
    /* border-radius: 14px; */
    /* background: #fafffee2; */
    transition: all 0.2s;
    position:relative;
}
.box.box-border {
    border: 1px solid black;
}
/* .box:hover { background: #fafffe; } */

/* Input */
input {
    border:none;
    width:100%;
    background:#ffffff00;
    border-bottom:1px solid #000000;
}
input::placeholder {
    color:#000;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}

/* Display */
.flex-row { display:flex; flex-direction: row; }
.flex-column { display:flex; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
.justify-center { justify-content: center }
.align-center { align-items: center; }
.align-baseline { align-items: baseline; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-stretch { align-items: stretch; }

/* Width */
.w-100 { width:100%; }
.w-95 { width:95%; }
.w-90 { width:90%; }
.w-85 { width:85%; }
.w-80 { width:80%; }
.w-75 { width:75%; }
.w-70 { width:70%; }
.w-65 { width:65%; }
.w-60 { width:60%; }
.w-55 { width:55%; }
.w-50 { width:50%; }
.w-45 { width:45%; }
.w-40 { width:40%; }
.w-35 { width:35%; }
.w-30 { width:30%; }
.w-25 { width:25%; }
.w-20 { width:20%; }
.w-15 { width:15%; }
.w-10 { width:10%; }
.w-5 { width:5%; }
.w-0 { width:0%; }

/* Paddings */
.p-30 { padding:30px !important; }
.p-0 { padding:0px !important; }
.p-bot-40 { padding-bottom:40px; }
.p-bot-30 { padding-bottom:30px; }

/* Margins */
.m-auto-imp { margin:auto !important; }
.m-auto { margin:auto; }
.m-0 { margin:0; }
.m-top-60 { margin-top:60px; }
.m-top-50 { margin-top:50px; }
.m-top-40 { margin-top:40px; }
.m-top-30 { margin-top:30px; }
.m-top-25 { margin-top:25px; }
.m-top-20 { margin-top:20px; }
.m-top-15 { margin-top:15px; }
.m-top-10 { margin-top:10px; }
.m-top-5 { margin-top:5px; }
.m-bot-30 { margin-bottom:30px; }
.m-bot-25 { margin-bottom:25px; }
.m-bot-20 { margin-bottom:20px; }
.m-bot-15 { margin-bottom:15px; }
.m-bot-10 { margin-bottom:10px; }
.m-bot-5 { margin-bottom:5px; }


/* Text Type */
.text-regular {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
}
.text-center { text-align: center; }
.text-underline { text-decoration: underline; }

/* Text Weights */
.text-700 { font-weight:700;}
.text-600 { font-weight:600;}

/* Text Colors */
.text-brown { color: #313131; }
.text-white { color: #FFFFFF; }
.text-green { color: #46b056; }

button:hover, .button:hover, .button-enabled {
    background: #000000;
    color: #FFFFFF;
    /* border: 1px solid #FFFFFF; */
}

/* Behaviour */
.clickable { pointer-events:auto; cursor: pointer; }
.pointer { cursor: pointer; }
.disable { pointer-events:none; opacity:0.5 !important; }
.disable-click { pointer-events:none; }

/* Backgrounds */
.bg-brown { background: #313131 !important; }

/* Transitions */
.t-1000 { transition:all 1s; }
.t-500 { transition:all 0.5s; }
.t-200 { transition:all 0.2s; }

/* Display */
.hide { display:none; }
.show { display:unset; }

/* Opacity */
.opacity-1 { opacity: 1 !important; }
.opacity-0 { opacity: 0 !important; }

/* Manipulation */
.rotate-180 {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}